/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ex]logs/
/[Mm]emoryCaptures/
/Logs/
/UserSettings/

# Never ignore .meta files
!/[As]sets/**/*.meta

# Asset server cache
/AssetServerToUPM/

# MSVC free tools com cache
/.vs/
